h1 {
    background-color:#1c2aae;
    height: 150px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    /* text-align: center; */
    font-size: 5rem;
    padding-top: 40px;