/* Heading */
h1 {
    background-color: navy;
    height: 150px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    font-size: 5rem;
    padding-top: 40px;
}

/* Search area */
#search {
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    margin: 3px;
    padding: 3px;
}
/* Search submit button */
.btn {
    background-color: lightgray;
    box-sizing: border-box;
    margin: 3px;
}

/* Dog cards */
.dog-cards {
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
}

#dog-image {
    box-sizing: border-box;
    margin: 3px;
<<<<<<< HEAD
}
=======
}
>>>>>>> 093edc52327bd038915a5cdbc71ba130583de46c
